---
import Layout from "../layouts/Layout.astro";
import { useSanityClient } from "@sanity/astro";
const client = useSanityClient();
const projects = await client.fetch(`*[_type == "projects"][0]{
  title,
  "image": image.asset->url
}`);

const pro = await client.fetch(`*[_type == "projects"]{
  title,
  "image": image.asset->url
}`);

// console.log(projects);
---

<Layout title="Andrea Fotografía">
  <div class="header">
    <div class="jacob-gr-nberg">JACOB GRÖNBERG</div>
    <img class="menu-toggle" src="img/menu-toggle.svg" />
  </div>
  <main>
    <section class="hero">
      <div class="overlap">
        <div class="overlap-group">
          <div class="headline">
            <div class="jacob-gr-nberg">Jacob <br />Grønberg</div>
            <div class="photographer">PHOTOGRAPHER</div>
            <!-- <div class="visual-artist">&amp; VISUAL ARTIST</div> -->
          </div>
          <div class="image-wrapper">
            <img class="sergey-vinogradov" src={projects.image} />
          </div>
        </div>
        <div class="image">
          <div class="div">
            <div class="image-2">
              <img class="image-client" src={projects.image} />
            </div>
            <div class="text-wrapper">Hi, Im Jacob</div>
          </div>
          <div class="button">
            <div class="overlap-group-2">
              <div class="circle">
                <div class="work-with-me">WORK<br />WITH ME</div>
              </div>
              <div class="border"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="scroll-down">
        <img class="arrow" src="img/arrow.svg" />
        <div class="scroll-down-explore">
          Scroll Down<br />&amp; Explore
        </div>
      </div>
    </section>

    <section class="services">
      <div class="frame">
        <div class="rectangle"></div>
        <div class="text-wrapper">Services</div>
      </div>
      <div class="grid">
        <div class="row">
          <div class="grid-2">
            <div class="text-wrapper-2">01</div>
            <div class="text-wrapper-3">PHOTO SHOOTING</div>
          </div>
          <div class="div-wrapper">
            <p class="p">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
        <div class="line"></div>
        <div class="row">
          <div class="grid-2">
            <div class="text-wrapper-2">02</div>
            <div class="text-wrapper-3">VIDEO EDITING</div>
          </div>
          <div class="div-wrapper">
            <p class="p">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
        <div class="line"></div>
        <div class="row">
          <div class="grid-2">
            <div class="text-wrapper-2">03</div>
            <div class="text-wrapper-3">ART DIRECTION</div>
          </div>
          <div class="div-wrapper">
            <p class="p">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="latest-work">
      <div class="grid">
        <div class="title">
          <div class="latest">LATEST</div>
          <div class="text-wrapper">Work</div>
        </div>
        <div class="button-text">
          <div class="arrow-right">View All</div>
          <img class="icon" src="img/icon.png" />
        </div>
      </div>
      <div class="projects">
        {
          pro.map((project) => (
            <div class="project">
              <div class="overlap-group-wrapper">
                <div class="dancing-in-black">{project.title}</div>
              </div>
              <div class="image-wrapper">
                {" "}
                <img src={project.image} />{" "}
              </div>
              <div class="new-york-october">
                New York
                <br />
                October 2021
              </div>
            </div>
          ))
        }
      </div>
    </section>

    <section class="clients">
      <div class="grid">
        <div class="frame">
          <div class="title">
            <div class="overlap-group">
              <div class="what-my-clients">WHAT MY <br />CLIENTS</div>
              <div class="text-wrapper">Say</div>
            </div>
          </div>
          <p class="worked-with-over">
            <span class="span">Worked with Over</span>
            <span class="text-wrapper-2">50 clients <br /></span>
            <span class="span">around the world</span>
          </p>
        </div>
        <button class="button">
          <div class="default">Work With Me</div>
          <img class="icon" src="img/icon.png" />
        </button>
      </div>
      <div class="wrapper-testimonial">
        <div class="testimonial">
          <div class="image-wrapper"></div>
          <div class="content">
            <div class="grid-2">
              <img class="image" src="img/image.svg" />
              <p class="text-wrapper-3">I Really Enjoyed Working With Jacob</p>
            </div>
            <div class="grid-3">
              <p class="p">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.

                <br /><br />Enim lobortis scelerisque fermentum dui faucibus in
                ornare quam viverra. Laoreet sit amet cursus sit amet dictum sit
                amet justo.
              </p>
              <div class="subnav">
                <div class="text-wrapper-4">Michelle Lindstrøm</div>
                <div class="line"></div>
                <div class="text-wrapper-4">Photoshoot</div>
              </div>
            </div>
          </div>
        </div>
        <div class="line-2"></div>
        <div class="testimonial">
          <div class="image-wrapper-2"></div>
          <div class="content">
            <div class="grid-2">
              <img class="image" src="img/image-2.svg" />
              <p class="text-wrapper-3">I Really Enjoyed Working With Jacob</p>
            </div>
            <div class="grid-3">
              <p class="p">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <div class="subnav">
                <div class="text-wrapper-4">Jannis Jackson</div>
                <div class="line"></div>
                <div class="text-wrapper-4">Art Direction</div>
              </div>
            </div>
          </div>
        </div>
        <div class="line-2"></div>
        <div class="testimonial">
          <div class="image-wrapper-3"></div>
          <div class="content-2">
            <div class="grid-2">
              <img class="image" src="img/image-3.svg" />
              <p class="text-wrapper-3">I Really Enjoyed Working With Jacob</p>
            </div>
            <div class="grid-3">
              <p class="p">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim
                lobortis scelerisque fermentum dui faucibus in ornare quam
                viverra.
              </p>
              <div class="subnav">
                <div class="text-wrapper-4">Daniela Berg</div>
                <div class="line"></div>
                <div class="text-wrapper-4">Video Editing</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bottom">
      <div class="cta">
        <div class="cta-button">
          <div class="overlap-group">
            <div class="circle">
              <div class="get-in-touch">GET IN TOUCH</div>
            </div>
            <div class="border"></div>
          </div>
        </div>
        <div class="grid">
          <div class="let-s-work">LET’S WORK</div>
          <div class="text-wrapper">Together</div>
        </div>
      </div>
      <footer class="footer">
        <div class="line"></div>
        <div class="div">
          <div class="logo">
            <div class="jacob-gr-nberg">Jacob <br />Grønberg</div>
            <div class="photograph-visual">Photograph &amp; Visual Artist</div>
          </div>
          <div class="column">
            <div class="text-wrapper-2">MENU</div>
            <div class="nav">
              <div class="text-wrapper-3">Home</div>
              <div class="text-wrapper-4">Projects</div>
              <div class="text-wrapper-4">Exhibitions</div>
              <div class="text-wrapper-4">About</div>
              <div class="text-wrapper-4">Contact</div>
            </div>
          </div>
          <div class="column">
            <div class="text-wrapper-2">INFO</div>
            <div class="nav">
              <div class="text-wrapper-3">Styleguide</div>
              <div class="text-wrapper-4">Licensing</div>
              <div class="text-wrapper-4">Changelog</div>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="column-2">
            <p class="text-wrapper-5">© Made by Pawel Gola</p>
            <div class="line-2"></div>
            <div class="text-wrapper-5">Powered by Webflow</div>
          </div>
          <div class="column-3">
            <div class="text-wrapper-6">TWITTER</div>
            <div class="text-wrapper-6">INSTAGRAM</div>
            <div class="text-wrapper-6">FACEBOOK</div>
          </div>
        </div>
      </footer>
    </section>
  </main>
</Layout>

<style>
  .header {
    display: flex;
    /* width: 1600px; */
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 1rem 0rem;
  }

  .header .jacob-gr-nberg {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--heading-uppercase-h4-font-family);
    font-weight: var(--heading-uppercase-h4-font-weight);
    color: var(--textdefault);
    font-size: var(--heading-uppercase-h4-font-size);
    letter-spacing: var(--heading-uppercase-h4-letter-spacing);
    line-height: var(--heading-uppercase-h4-line-height);
    white-space: nowrap;
    font-style: var(--heading-uppercase-h4-font-style);
  }

  .header .menu-toggle {
    position: relative;
    width: 55.63px;
  }

  main {
    /* border: 1px solid red; */
    margin: auto;
    /* padding: 1rem; */
    max-width: 1400px;
    /* max-width: calc(100% - 2rem); */
    /* color: white; */
    font-size: 20px;
    line-height: 1.6;
    /* padding: 0rem 1rem; */
  }
  .astro-a {
    /* position: absolute; */
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  /* //////////7 */
  .hero {
  }

  .hero .hero {
    top: 0;
    left: 0;
  }

  .hero .overlap {
    position: relative;
  }

  .hero .overlap-group {
    top: 0;
    left: 0;
  }

  .hero .scroll-down {
    display: none;
    top: 842px;
    left: 1168px;
  }

  .hero .arrow {
    top: 0;
    left: 0;
  }

  .hero .scroll-down-explore {
    top: 97px;
    left: 41px;
    font-family: var(--text-default-font-family);
    font-weight: var(--text-default-font-weight);
    color: var(--textdefault);
    font-size: var(--text-default-font-size);
    letter-spacing: var(--text-default-letter-spacing);
    line-height: var(--text-default-line-height);
    font-style: var(--text-default-font-style);
  }

  .hero .image-wrapper {
    display: flex;
    justify-content: flex-end;
    /* width: 100%; */
    /* position: absolute; */
    /* width: 752px; */
    /* height: 918px; */
    top: 0;
    left: 648px;
    /* background-image: url(./img/sergey-vinogradov-nzkmqwm6rkq-unsplash-1.png); */
    /* background-size: cover; */
    /* background-position: 50% 50%; */
    z-index: 1;
  }

  .image-wrapper img {
    width: 100%;
    height: 100%;
    filter: grayscale(100);
  }

  .hero .headline {
    position: absolute;
    /* width: 951px; */
    /* height: 514px; */
    top: 77px;
    left: 0;
    z-index: 3;
  }

  .hero .jacob-gr-nberg {
    /* position: absolute; */
    /* width: 1400px;
    height: 1006px;
    width: 945px; */
    top: 0;
    left: 0;
    font-family: var(--heading-xlarge-font-family);
    font-weight: var(--heading-xlarge-font-weight);
    color: var(--textprimary);
    font-size: var(--heading-xlarge-font-size);
    letter-spacing: var(--heading-xlarge-letter-spacing);
    line-height: var(--heading-xlarge-line-height);
    font-style: var(--heading-xlarge-font-style);
  }

  .hero .photographer {
    /* position: absolute; */
    /* width: 490px; */
    /* top: 371px; */
    /* left: 180px; */
    margin-top: 16px;
    margin-left: 48px;
    font-family: var(--heading-uppercase-small-font-family);
    font-weight: var(--heading-uppercase-small-font-weight);
    color: var(--textdefault);
    font-size: var(--heading-uppercase-small-font-size);
    letter-spacing: var(--heading-uppercase-small-letter-spacing);
    line-height: var(--heading-uppercase-small-line-height);
    font-style: var(--heading-uppercase-small-font-style);
  }

  .hero .image {
    /* position: absolute; */
    /* width: 319px;
    height: 254px; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 2rem;
    /* top: 742px;
    left: 59px; */
  }

  .hero .image-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    /* position: absolute; */
    top: 0;
    left: 0;
  }

  .hero .image-client {
    position: relative;
    width: 180px;
    height: 180px;
    object-fit: cover;
  }

  .hero .text-wrapper {
    position: relative;
    width: fit-content;
    font-family: var(--text-default-font-family);
    font-weight: var(--text-default-font-weight);
    color: var(--textdefault);
    font-size: var(--text-default-font-size);
    letter-spacing: var(--text-default-letter-spacing);
    line-height: var(--text-default-line-height);
    white-space: nowrap;
    font-style: var(--text-default-font-style);
  }

  .hero .button {
    /* position: absolute; */
    /* width: 170px;
    height: 160px; */
    /* top: 94px;
    left: 149px; */
    align-self: flex-end;
  }

  .hero .overlap-group-2 {
    position: relative;
    /* height: 160px; */
  }

  .hero .circle {
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 140px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 9px;
    left: 0;
    background-color: var(--backgroundprimary);
    border-radius: 500px;
  }

  .hero .work-with-me {
    position: relative;
    width: 77.06px;
    font-family: "Clash Display-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }

  .hero .border {
    /* position: absolute; */
    width: 160px;
    height: 160px;
    top: 0;
    left: 10px;
    border-radius: 80.06px/80px;
    border: 1px solid;
    border-color: var(--borderprimary);
  }

  /* services */
  .services {
    margin-top: 2rem;
  }
  .services .grid {
    margin-top: 1rem;
  }
  .row:not(.row:first-child) {
    /* border: 2px solid red; */
    margin-top: 3rem;
  }
  .row .grid-2 {
    /* border: 2px solid red; */
    margin-bottom: 1rem;
  }
  .text-wrapper-2 {
    position: relative;
    font-family: var(--heading-uppercase-h3-font-family);
    font-weight: var(--heading-uppercase-h3-font-weight);
    color: var(--textprimary);
    font-size: var(--heading-uppercase-h3-font-size);
    letter-spacing: var(--heading-uppercase-h3-letter-spacing);
    line-height: var(--heading-uppercase-h3-line-height);
    font-style: var(--heading-uppercase-h3-font-style);
  }
  .text-wrapper-3 {
    position: relative;
    font-family: var(--heading-uppercase-h3-font-family);
    font-weight: var(--heading-uppercase-h3-font-weight);
    color: var(--textdefault);
    font-size: var(--heading-uppercase-h3-font-size);
    letter-spacing: var(--heading-uppercase-h3-letter-spacing);
    line-height: var(--heading-uppercase-h3-line-height);
    font-style: var(--heading-uppercase-h3-font-style);
    word-break: break-all;
    word-wrap: break-word;
  }

  /* latest work */

  .latest-work {
    margin-top: 2rem;
  }
  .projects {
    margin-top: 1rem;
  }
  .latest-work .latest {
    position: relative;
    font-family: var(--heading-uppercase-large-font-family);
    font-weight: var(--heading-uppercase-large-font-weight);
    color: var(--textdefault);
    font-size: var(--heading-uppercase-large-font-size);
    letter-spacing: var(--heading-uppercase-large-letter-spacing);
    line-height: var(--heading-uppercase-large-line-height);
    white-space: nowrap;
    font-style: var(--heading-uppercase-large-font-style);
  }
  .latest-work .text-wrapper {
    position: relative;
    font-family: var(--heading-large-primary-font-family);
    font-weight: var(--heading-large-primary-font-weight);
    color: var(--textprimary);
    font-size: var(--heading-large-primary-font-size);
    letter-spacing: var(--heading-large-primary-letter-spacing);
    line-height: var(--heading-large-primary-line-height);
    white-space: nowrap;
    font-style: var(--heading-large-primary-font-style);
  }
  .latest-work .grid {
    display: flex;
    justify-content: space-between;
  }
  .latest-work .projects {
    /* border: 3px solid blue; */
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  /* clients */
  .clients {
    margin-top: 2rem;
  }
  .what-my-clients {
    font-family: var(--heading-uppercase-medium-font-family);
    font-weight: var(--heading-uppercase-medium-font-weight);
    color: var(--textdefault);
    font-size: var(--heading-uppercase-medium-font-size);
    letter-spacing: var(--heading-uppercase-medium-letter-spacing);
    line-height: var(--heading-uppercase-medium-line-height);
    font-style: var(--heading-uppercase-medium-font-style);
  }
  .clients .text-wrapper {
    font-family: var(--heading-medium-font-family);
    font-weight: var(--heading-medium-font-weight);
    color: var(--textprimary);
    font-size: var(--heading-medium-font-size);
    letter-spacing: var(--heading-medium-letter-spacing);
    line-height: var(--heading-medium-line-height);
    white-space: nowrap;
    font-style: var(--heading-medium-font-style);
  }
  .worked-with-over {
    margin-top: 1rem;
  }
  .wrapper-testimonial {
    margin-top: 2rem;
  }

  .testimonial:not(.testimonial:first-child) {
    /* border: 1px solid red; */
    margin-top: 1rem;
  }

  /* footer */
  .bottom .cta {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 69px;
    padding: 224px 0px;
    position: relative;
    flex: 0 0 auto;
  }
  .bottom .cta-button {
    position: relative;
    width: 220px;
    height: 220px;
  }
  .bottom .overlap-group {
    position: relative;
    width: 230px;
    height: 220px;
    left: -10px;
  }
  .bottom .circle {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    position: absolute;
    top: 10px;
    left: 0;
    background-color: var(--backgroundprimary);
    border-radius: 500px;
  }
  .bottom .get-in-touch {
    position: relative;
    align-self: stretch;
    font-family: var(--heading-uppercase-h4-font-family);
    font-weight: var(--heading-uppercase-h4-font-weight);
    color: var(--textinverse);
    font-size: var(--heading-uppercase-h4-font-size);
    text-align: center;
    letter-spacing: var(--heading-uppercase-h4-letter-spacing);
    line-height: var(--heading-uppercase-h4-line-height);
    font-style: var(--heading-uppercase-h4-font-style);
  }
  .bottom .border {
    position: absolute;
    width: 220px;
    height: 220px;
    top: 0;
    left: 10px;
    border-radius: 110px;
    border: 1px solid;
    border-color: var(--borderprimary);
  }

  .bottom .let-s-work {
    position: relative;
    font-family: var(--heading-uppercase-large-font-family);
    font-weight: var(--heading-uppercase-large-font-weight);
    color: var(--textdefault);
    font-size: var(--heading-uppercase-large-font-size);
    letter-spacing: var(--heading-uppercase-large-letter-spacing);
    line-height: var(--heading-uppercase-large-line-height);
    white-space: nowrap;
    font-style: var(--heading-uppercase-large-font-style);
  }
  .bottom .text-wrapper {
    position: relative;
    font-family: var(--heading-large-font-family);
    font-weight: var(--heading-large-font-weight);
    color: var(--textprimary);
    font-size: var(--heading-large-font-size);
    letter-spacing: var(--heading-large-letter-spacing);
    line-height: var(--heading-large-line-height);
    white-space: nowrap;
    font-style: var(--heading-large-font-style);
  }

  .bottom .footer {
    flex-direction: column;
    /* width: 1400px; */
    /* gap: 94px; */
    /* padding: 0px 0px 48px; */
    background-color: transparent;
    display: flex;
    align-items: center;
    position: relative;
    /* flex: 0 0 auto; */
  }
  .bottom .line {
    /* width: 1417.72px; */
    /* margin-left: -8.86px; */
    /* margin-right: -8.86px; */
    background-color: var(--borderdefault);
    position: relative;
    height: 1px;
  }
  .bottom .div {
    /* gap: 299px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    /* flex: 0 0 auto; */
  }
  .bottom .logo {
    position: relative;
    /* width: 481.97px; */
    /* height: 219px; */
  }
  .bottom .jacob-gr-nberg {
    /* position: absolute; */
    /* width: 478px; */
    top: 0;
    left: 0;
    font-family: "Clash Display-Regular", Helvetica;
    font-weight: 400;
    color: var(--textprimary);
    font-size: var(--heading-xlarge-font-size);
    letter-spacing: 0;
    line-height: 90px;
  }
  .bottom .photograph-visual {
    /* position: absolute; */
    /* width: 251px; */
    top: 190px;
    left: 81px;
    font-family: var(--text-medium-font-family);
    font-weight: var(--text-medium-font-weight);
    color: var(--textdefault);
    font-size: var(--text-medium-font-size);
    letter-spacing: var(--text-medium-letter-spacing);
    line-height: var(--text-medium-line-height);
    font-style: var(--text-medium-font-style);
  }
  .bottom .column {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 50px; */
    position: relative;
    flex: 0 0 auto;
    margin-top: 2rem;
  }
  .bottom .text-wrapper-2 {
    position: relative;
    /* width: fit-content; */
    margin-top: -1px;
    font-family: var(--heading-uppercase-h3-font-family);
    font-weight: var(--heading-uppercase-h3-font-weight);
    color: var(--textprimary);
    font-size: var(--heading-uppercase-h3-font-size);
    letter-spacing: var(--heading-uppercase-h3-letter-spacing);
    line-height: var(--heading-uppercase-h3-line-height);
    white-space: nowrap;
    font-style: var(--heading-uppercase-h3-font-style);
  }
  .bottom .nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  .bottom .text-wrapper-3 {
    /* margin-top: -1px; */
    position: relative;
    width: fit-content;
    font-family: var(--text-medium-font-family);
    font-weight: var(--text-medium-font-weight);
    color: var(--textdefault);
    font-size: var(--text-medium-font-size);
    letter-spacing: var(--text-medium-letter-spacing);
    line-height: var(--text-medium-line-height);
    white-space: nowrap;
    font-style: var(--text-medium-font-style);
  }
  .bottom .text-wrapper-4 {
    position: relative;
    /* width: fit-content; */
    font-family: var(--text-medium-font-family);
    font-weight: var(--text-medium-font-weight);
    color: var(--textdefault);
    font-size: var(--text-medium-font-size);
    letter-spacing: var(--text-medium-letter-spacing);
    line-height: var(--text-medium-line-height);
    white-space: nowrap;
    font-style: var(--text-medium-font-style);
  }
  .bottom .footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
    width: 100%;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
    padding: 3rem 0rem 1rem;
  }
  .bottom .column-2 {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
  }
  .bottom .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--text-default-font-family);
    font-weight: var(--text-default-font-weight);
    color: var(--textdefault);
    font-size: var(--text-default-font-size);
    letter-spacing: var(--text-default-letter-spacing);
    line-height: var(--text-default-line-height);
    white-space: nowrap;
    font-style: var(--text-default-font-style);
  }
  .bottom .line-2 {
    width: 15px;
    background-color: var(--bordersecondary);
    position: relative;
    height: 1px;
  }
  .bottom .column-3 {
    display: inline-flex;
    align-items: flex-start;
    gap: 30px;
    position: relative;
    flex: 0 0 auto;
  }
  .bottom .text-wrapper-6 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--heading-h6-font-family);
    font-weight: var(--heading-h6-font-weight);
    color: var(--textdefault);
    font-size: var(--heading-h6-font-size);
    letter-spacing: var(--heading-h6-letter-spacing);
    line-height: var(--heading-h6-line-height);
    white-space: nowrap;
    font-style: var(--heading-h6-font-style);
  }
</style>
