---

---

<section class="bottom">
  <div class="cta">
    <div class="cta-button">
      <div class="overlap-group">
        <div class="circle">
          <div class="get-in-touch">PONTE EN CONTACTO</div>
        </div>
        <div class="border"></div>
      </div>
    </div>
    <div class="grid">
      <div class="let-s-work">TRABAJEMOS</div>
      <div class="text-wrapper">Juntos</div>
    </div>
  </div>
  <footer class="footer">
    <div class="line"></div>
    <div class="div">
      <div class="logo">
        <div class="jacob-gr-nberg">Andrea <br />Martinez</div>
        <div class="photograph-visual">Fotógrafa &amp; Artista Visual</div>
      </div>
      <div class="column">
        <div class="text-wrapper-2">MENU</div>
        <div class="nav">
          <div class="text-wrapper-4">INICIO</div>
          <div class="text-wrapper-4">Proyectos</div>
          <div class="text-wrapper-4">Acerca de</div>
          <div class="text-wrapper-4">Contacto</div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="column-3">
        <div class="text-wrapper-6">TWITTER</div>
        <div class="text-wrapper-6">INSTAGRAM</div>
        <div class="text-wrapper-6">FACEBOOK</div>
      </div>
    </div>
  </footer>
</section>

<style>
  .bottom {
    margin-top: 14rem;
  }
  .bottom .cta {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 69px;
    margin-bottom: 14rem;
    position: relative;
    flex: 0 0 auto;
  }
  .bottom .cta-button {
    position: relative;
    width: 220px;
    height: 220px;
  }
  .bottom .overlap-group {
    position: relative;
    width: 230px;
    height: 220px;
    left: -10px;
  }
  .bottom .circle {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    position: absolute;
    top: 10px;
    left: 0;
    background-color: var(--backgroundprimary);
    border-radius: 500px;
  }
  .bottom .get-in-touch {
    position: relative;
    align-self: stretch;
    font-family: var(--heading-uppercase-h4-font-family);
    font-weight: var(--heading-uppercase-h4-font-weight);
    color: var(--textinverse);
    font-size: var(--heading-uppercase-h4-font-size);
    text-align: center;
    letter-spacing: var(--heading-uppercase-h4-letter-spacing);
    line-height: var(--heading-uppercase-h4-line-height);
    font-style: var(--heading-uppercase-h4-font-style);
  }
  .bottom .border {
    position: absolute;
    width: 220px;
    height: 220px;
    top: 0;
    left: 10px;
    border-radius: 110px;
    border: 1px solid;
    border-color: var(--borderprimary);
  }

  .bottom .let-s-work {
    position: relative;
    font-family: var(--heading-uppercase-large-font-family);
    font-weight: var(--heading-uppercase-large-font-weight);
    color: var(--textdefault);
    font-size: var(--heading-uppercase-large-font-size);
    letter-spacing: var(--heading-uppercase-large-letter-spacing);
    line-height: var(--heading-uppercase-large-line-height);
    white-space: nowrap;
    font-style: var(--heading-uppercase-large-font-style);
  }
  .bottom .text-wrapper {
    position: relative;
    font-family: var(--heading-large-font-family);
    font-weight: var(--heading-large-font-weight);
    color: var(--textprimary);
    font-size: var(--heading-large-font-size);
    letter-spacing: var(--heading-large-letter-spacing);
    line-height: var(--heading-large-line-height);
    white-space: nowrap;
    font-style: var(--heading-large-font-style);
  }

  .bottom .footer {
    flex-direction: column;
    background-color: transparent;
    display: flex;
    position: relative;
  }
  .bottom .line {
    background-color: var(--borderdefault);
    position: relative;
    height: 1px;
  }
  .bottom .div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding-top: 3rem;
  }
  .bottom .logo {
    position: relative;
  }
  .bottom .jacob-gr-nberg {
    font-family: "Clash Display-Regular", Helvetica;
    font-weight: 400;
    color: var(--textprimary);
    font-size: var(--heading-xlarge-font-size);
    letter-spacing: 0;
  }
  .bottom .photograph-visual {
    font-family: var(--text-medium-font-family);
    font-weight: var(--text-medium-font-weight);
    color: var(--textdefault);
    font-size: var(--text-medium-font-size);
    letter-spacing: var(--text-medium-letter-spacing);
    line-height: var(--text-medium-line-height);
    font-style: var(--text-medium-font-style);
    margin: 1rem 0rem 0rem 3rem;
  }
  .bottom .column {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
    margin-top: 3rem;
  }
  .bottom .text-wrapper-2 {
    position: relative;
    margin-top: -1px;
    font-family: var(--heading-uppercase-h3-font-family);
    font-weight: var(--heading-uppercase-h3-font-weight);
    color: var(--textprimary);
    font-size: var(--heading-uppercase-h3-font-size);
    letter-spacing: var(--heading-uppercase-h3-letter-spacing);
    line-height: var(--heading-uppercase-h3-line-height);
    font-style: var(--heading-uppercase-h3-font-style);
  }
  .bottom .nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    margin-top: 2rem;
  }
  .bottom .text-wrapper-3 {
    font-family: var(--text-medium-font-family);
    font-weight: var(--text-medium-font-weight);
    color: var(--textdefault);
    font-size: var(--text-medium-font-size);
    letter-spacing: var(--text-medium-letter-spacing);
    line-height: var(--text-medium-line-height);
    font-style: var(--text-medium-font-style);
    margin: 0;
  }
  .bottom .text-wrapper-4 {
    font-family: var(--text-medium-font-family);
    font-weight: var(--text-medium-font-weight);
    color: var(--textdefault);
    font-size: var(--text-medium-font-size);
    letter-spacing: var(--text-medium-letter-spacing);
    line-height: var(--text-medium-line-height);
    font-style: var(--text-medium-font-style);
  }
  .bottom .footer-bottom {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
    padding: 6rem 0rem 4rem;
  }
  .bottom .column-2 {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
  }
  .bottom .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--text-default-font-family);
    font-weight: var(--text-default-font-weight);
    color: var(--textdefault);
    font-size: var(--text-default-font-size);
    letter-spacing: var(--text-default-letter-spacing);
    line-height: var(--text-default-line-height);
    white-space: nowrap;
    font-style: var(--text-default-font-style);
  }
  .bottom .line-2 {
    width: 15px;
    background-color: var(--bordersecondary);
    position: relative;
    height: 1px;
  }
  .bottom .column-3 {
    display: inline-flex;
    align-items: flex-start;
    gap: 30px;
    position: relative;
    flex: 0 0 auto;
  }
  .bottom .text-wrapper-6 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--heading-h6-font-family);
    font-weight: var(--heading-h6-font-weight);
    color: var(--textdefault);
    font-size: var(--heading-h6-font-size);
    letter-spacing: var(--heading-h6-letter-spacing);
    line-height: var(--heading-h6-line-height);
    white-space: nowrap;
    font-style: var(--heading-h6-font-style);
  }

  @media screen and (min-width: 768px) {
    .bottom .cta {
      flex-direction: column-reverse;
      flex-direction: row;
    }
    .bottom .div {
      flex-direction: row;
      gap: 10rem;
    }
  }
  @media screen and (min-width: 1440px) {
    .bottom .jacob-gr-nberg {
      font-size: 7rem;
    }
  }
</style>
